<header class="header">
    <div class="">
        {{> logo data="L"}}
    </div>

    <nav class="header_nav">
        <div class="header_nav_right">
            {{> nav list=header}}
        </div>
    </nav>
</header>

<main class="main">
    {{#with info}}
    <div class="info_block">
        <h1 class="info_title">{{title}}</h1>
        <p class="info_description">{{description}}</p>
    </div>
    {{/with}}

    {{#with form}}
    <form class="form">
        <div class="form_input_list">
            {{#each inputs}}
            <input type="{{type}}" placeholder="{{placeholder}}" class="form_input" name="{{name}}"
                id="form-input-{{id}}" />
            {{/each}}
        </div>

        <div class="form_checkbox">
            <input type="checkbox" name="{{checkbox.name}}" id="{{checkbox.name}}" />
            <div></div>
            <label for="{{checkbox.name}}">{{checkbox.label}}</label>
        </div>

        <button type="submit" class="form_button">{{button}}</button>
        <span class="form_info">{{info}}</span>
    </form>
    {{/with}}
</main>

<div class="updates">
    {{#with updates}}
    <h1 class="updates_title">{{title}}</h1>

    {{#each list}}
    <div class="upd">
        <div class="avatar">
            <img src="https://art.pixilart.com/98a56594ca4c482.png" alt="avatar">
        </div>
        <div class="upd_body">
            <strong class="upd_nickname">{{nickname}}</strong>
            <p class="upd_description">{{description}}</p>
        </div>
    </div>
    {{/each}}

    <a href="{{show_all.url}}" class="upd_link">{{show_all.text}}</a>
    {{/with}}
</div>

<div class="expirience">
    {{#with expirience}}
    <div class="exp_header">
        <strong class="exp_title">{{title}}</strong>
        <div class="exp_badge">{{badge}}</div>
    </div>

    <div class="exp">
        {{#each list}}
        <div class="exp_card">
            <strong>{{name}}</strong>
            <p>{{details}}</p>
        </div>
        {{/each}}
    </div>
    {{/with}}
</div>


<footer class="footer">
    <div>
        {{> logo}}
        <span class="footer_copyright">Copyright 2023-2024</span>
    </div>

    {{#each footer}}
    <div>
        <span class="footer_title">{{title}}</span>
        {{> nav list=links isVertical=true}}
    </div>
    {{/each}}
</footer>