{{#with data}}
<div class="card_featured">
    <div class="card_icon" style="background-image: url({{photo}})"></div>
    <h3 class="card_heading">{{heading}}</h3>
    <p class="card_info">{{info}}</p>
    <a href="{{linkUrl}}" class="card_link">{{linkText}}</a>
</div>
{{/with}}